---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');


.post {
    font-family: 'Noto Sans KR', 'sans-serif';
    font-weight: 300;
}

.post-title {
    font-size: 30px;
}

.post-content h2 {
    font-size: 28px;
    font-weight: 350;
    padding-top: 30px;
}

.post-content h3 {
    font-size: 22px;
    font-weight: 400;
    padding-top: 15px;
}

.post-content p { 
    font-weight: 300;
    line-height: 1.7rem;
    margin-bottom: 30px;
}

.post-content p strong {
    font-weight: 500;
}

.post-content ul {
    margin-bottom: 30px;
}

.post-content ol {
    margin-bottom: 30px;
}

.post-list .post-link {
    font-family: 'Noto Sans KR', 'sans-serif';
    font-weight: 430;
    font-size: 1.3rem;
    color: rgb(2, 6, 23);
}

.post-list .post-link:hover {
    color: rgb(3, 105, 161);
}

.post-list .post-meta {
    font-style: italic;
}

.post-list a {
    text-decoration-line: none;
}

.post-content code {
    font-size: 12px;
    background-color: rgb(245, 245, 245);
}

.highlighter-rouge .highlight {
    background: rgb(245, 245, 245);
}

.footnotes {
    font-size: 0.8rem;
}

.footnotes p {
    margin-bottom: 0px;
}